{% extends 'base.html.twig' %}

    {% block body %}
    <div class="media">  
         <div class="media-body">
            <div>
                <h1> saison {{ season.number }} de {{ program.title }}</h1>
            </div>
            <div><h2>{{ season.description }}</h2></div>
            

        <div class="media-body">
               <h1> liste des episodes</h1>
            
                        
                
                       {% for episode in season.episodes %}
                        
                       
                        <ul>
                            <li>Episode {{ episode.number }} : {{ episode.synopsis }}</li>
                        </ul>
                        <a href="{{ path('program_episode_show', { program:program.id, season: season.id, episode: episode.id }) }}"">
        Page detaillée de la saison
    </a>
                    {% endfor %} 
               
                    
    </div>
            
        </div>
    
    {% endblock %}